/* pyramid author : Selim Khemissi http://www.khemissi.com http://www.khemissi.com/examples/css3/010-3D-pyramid/ */
.stage {
  position: relative;
  padding-top: 180px;
  padding-bottom: 40px;
  margin: auto;
  perspective: 1200px;
  perspective-origin: 50% 50%;
}
.pyramid3d {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  transform-style: preserve-3d;
}
.triangle, .square {
  transform-style: preserve-3d;
  transform-origin: left top;
  transition: transform 200ms ease-out;
}
.triangle {
  width: 0;
  height: 0;
  background: none;
}
/* note that border dimension includes border set in '.side' CSS Class */
.triangle:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-style: solid;
  /* border-color: rgba(50, 50, 50, 0.7) transparent transparent transparent; */
  border-width: 132px 75px 0 75px;
}
.square {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 7em;
  color: #fff;
  text-align: center;
  font-family: alef, arial;
  font-weight: bold;
}
.square.small {
  width: 15px;
  height: 15px;
}
.rect {
  width: 15px;
  height: 75px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
/* note that translation includes border set in '.side' CSS Class */
.side1 {
 /* square */
  transform: translatez(150px);
  background: rgba(0, 0, 0, 0.7);
}
.side1.small {
  transform: translatez(225px) translatex(67.5px) translatey(67.5px);
}
.side2 {
 /* triangle */
  transform: translatex(0) rotatey(-125deg) rotatez(90deg);
}
.side2.square {
  background: rgba(0, 180, 0, 0.9);
  transform: translatex(0) translatez(150px) rotatey(-90deg) rotatez(90deg);
}
.side2.rect {
  background: rgba(20, 20, 20, 0.3);
  transform: translatex(60px) translatey(37.5px) translatez(187.5px) rotatey(90deg) rotatez(90deg);
}
.side3 {
 /* triangle */
  transform: translatex(150px) rotatez(90deg) rotatex(-55deg);
}
.side3.square {
  background: rgba(190, 170, 0, 0.9);
  transform: translatex(150px) translatez(150px) translatey(150px) rotatez(-90deg) rotatex(-90deg);
}
.side3.rect {
  background: rgba(20, 20, 20, 0.3);
  transform: translatex(75px) translatez(187.5px) translatey(37.5px) rotatez(-90deg) rotatex(-90deg);
}
.side4 {
 /* triangle */
  transform: translatez(0) rotatex(-55deg);
}
.side4.square {
  background: rgba(0, 0, 255, 0.9);
  transform: translatez(150px) rotatex(-90deg) rotatey(-180deg) translatex(-150px);
}
.side4.rect {
  transform: translatez(187.5px) translatey(30px) rotatex(90deg) translatex(67.5px);
}
.side5 {
 /* triangle */
  transform: translatey(150px) rotatex(-125deg);
}
.side5.square {
  background: rgba(255, 0, 0, 0.9);
  transform: translatey(150px) translatez(150px) rotatex(-90deg);
}
.side5.rect {
  transform: translatey(45px) translatex(67.5px) translatez(187.5px) rotatex(-90deg);
}
.side2:before, .side3:before {
  border-color: rgba(20, 20, 20, 0.3) transparent transparent transparent;
}
.side4:before, .side5:before {
  border-color: rgba(40, 40, 40, 0.6) transparent transparent transparent;
}
