{% extends "public.html" %} {% block page %}
<link rel="stylesheet" href="/dreidel/static/css/dreidel.css" />
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-sm-8 col-md-5 col-lg-4">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-none">
        <h5 class="text-subtitle1 text-center q-mt-none q-mb-sm">{{ dreidel.memo }}</h5>
        <div v-if="gameState.balances" class="q-mt-lg">
          <div class="row">
            <span class="text-subtitle1">Balance</span>
          </div>
          <div class="row">
            <div v-for="(balance, playerIndex) in gameState.balances" :key="playerIndex" class="col-6 col-md-4">
              <span class="text-body2" :class="{'text-bold': gameState.current_player === playerIndex}">
                Player <span v-text="playerIndex + 1"></span>: <span v-text="balance / 1000 | formatSats"></span> sats
              </span>
            </div>
          </div>
          <div class="row justify-center q-mt-md">
            <div class="text-body1 text-bold">
              <span v-if="gameState.state === 'funding'">
                Funding Round (<span v-text="gameState.jackpot / 1000 | formatSats"></span> sats accumulated so far)
              </span>
              <span v-else>
                Jackpot: <span v-text="gameState.jackpot / 1000 | formatSats"></span> sats
              </span>
            </div>
          </div>
        </div>
        <div class="stage">
          <div class="pyramid3d" :style="spinStyle">
              <div class="square side1"></div>
              <div class="square side2">נ</div>
              <div class="square side3">ה</div>
              <div class="square side4">ג</div>
              <div class="square side5">ש</div>
              <div class="square small side1"></div>
              <div class="rect side2"></div>
              <div class="rect side3"></div>
              <div class="rect side4"></div>
              <div class="rect side5"></div>
              <div class="triangle side2"></div>
              <div class="triangle side3"></div>
              <div class="triangle side4"></div>
              <div class="triangle side5"></div>
          </div>
        </div>
        <div v-if="!isAnimating && lastGameState.state === 'playing'" class="q-mt-lg">
          <div class="row justify-center">
            <div class="text-h4">
              <span v-text="titles[gameState.dreidel_result]"></span>
            </div>
          </div>
          <div class="row justify-center">
            <div class="text-body1" v-text="dreidelResultDescription"></div>
          </div>
        </div>
        <div v-if="!isAnimating && gameState.payment_request" class="q-mt-md">
          <div class="row justify-center">
            <div class="text-body1">
              Player <span v-text="gameState.current_player + 1"></span> please pay the invoice
              <span v-if="gameState.state === 'funding'"> to subsidize the funding round.</span>
              <span v-else-if="gameState.state === 'playing'"> to spin the dreidel.</span>
              <span v-else-if="gameState.state === 'shtel'"> to continue.</span>
            </div>
          </div>
          <div class="row justify-center q-my-md">
            <div class="col-10 col-md-8 col-lg-6 col-xl-6">
              <a class="text-secondary" :href="'lightning:' + gameState.payment_request">
                <q-responsive :ratio="1" class="q-mb-md">
                  <qrcode
                  :value="'lightning:' + gameState.payment_request.toUpperCase()"
                  :options="{width: 800}"
                  class="rounded-borders"
                  ></qrcode>
                </q-responsive>
              </a>
            </div>
          </div>
          <div class="row justify-center">
            <q-btn outline color="grey" @click="copyText(gameState.payment_request)">
              Copy invoice
            </q-btn>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  const initialAngle = 270

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        dreidelAngle: initialAngle,
        dreidelTimeoutSeconds: 0,
        titles: [
          "Nisht - נישט",
          "Gantz - גאַנץ",
          "Halb - האַלב",
          "Shtel Arayn - שטעל אַרַײן",
        ],
        lastGameState: {
          "state": "loading",
        },
        isAnimating: false,
        gameState: {
          state: "loading",
        },
        reloadTimeout: null,
      }
    },
    mounted() {
      void this.reloadGameState()
    },
    computed: {
      dreidelResultDescription() {
        switch (this.gameState.dreidel_result) {
          case 0:
            return `Player ${this.lastGameState.current_player + 1} won nothing.`
          case 1:
            return `Player ${this.lastGameState.current_player + 1} won the entire jackpot.`
          case 2:
            return `Player ${this.lastGameState.current_player + 1} won half the jackpot.`
          case 3:
            if (this.gameState.state === "shtel") {
              return `Player ${this.lastGameState.current_player + 1} lost - must pay again.`
            } else {
              return `Player ${this.lastGameState.current_player + 1} lost - paid again from balance.`
            }
          default:
            return ""
        }
      },
      spinStyle() {
        return {
          transition: `transform ${this.dreidelTimeoutSeconds}s ease-out`,
          transform: `rotateX(80deg) rotateY(0deg) rotate(${this.dreidelAngle}deg)`,
        }
      },
    },
    filters: {
      formatSats(value) {
        return new Intl.NumberFormat('en-US', { maximumFractionDigits: 3}).format(value)
      }
    },
    methods: {
      resetReloadTimeout(callback, timeoutMs) {
        if (this.reloadTimeout) {
          clearTimeout(this.reloadTimeout)
        }
        this.reloadTimeout = setTimeout(callback, timeoutMs)
      },
      async reloadGameState() {
        let responseData
        try {
          // Not using LNbits.api.request because the loading bar is annoying.
          const response = await fetch('/dreidel/api/v1/dreidels/{{ dreidel.id }}/state')
          responseData = await response.json()
          if (!responseData.ok) {
            throw new Error("Bad response")
          }
        } catch (error) {
          LNbits.utils.notifyApiError(error)
          this.resetReloadTimeout(this.reloadGameState, 5000)
          return
        }
        if (responseData.updated_at === this.gameState.updated_at) {
          this.resetReloadTimeout(this.reloadGameState, 2000)
          return
        }
        if (this.gameState.state === "playing") {
          this.isAnimating = true
          this.gameState.jackpot += responseData.paid_amount
          this.dreidelTimeoutSeconds = responseData.rotate_seconds
          this.dreidelAngle = initialAngle + ((4 - responseData.dreidel_result) * 90) + (Math.floor((this.dreidelAngle - initialAngle) / 360) + responseData.rotate_seconds) * 360
          await new Promise(resolve => setTimeout(resolve, responseData.rotate_seconds * 1000))
          this.isAnimating = false
        } else if (this.gameState.state === "loading" && responseData.state === "shtel") {
          this.dreidelTimeoutSeconds = 0
          this.dreidelAngle = 360 // initlalAngle + (4 - 3) * 90
        }
        this.lastGameState = this.gameState
        this.gameState = responseData
        this.resetReloadTimeout(this.reloadGameState, 2000)
      },
    },
    beforeDestroy() {
      if (this.reloadTimeout) {
        clearTimeout(this.reloadTimeout)
        this.reloadTimeout = null
      }
    },
  })
</script>
{% endblock %}
