{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-sm-8 col-md-5 col-lg-4">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-none">
        <h5 class="text-subtitle1 q-mt-none q-mb-sm">{{ dreidel.memo }}</h5>
        <div v-if="gameState.balances" class="q-mt-lg">
          <div class="row">
            <span class="text-subtitle1">Balance</span>
          </div>
          <div v-for="(balance, playerIndex) in gameState.balances" :key="playerIndex">
            <div class="row">
              <div class="text-body2">
                Player <span v-text="playerIndex + 1"></span>: <span v-text="balance / 1000 | formatSats"></span> sats
              </div>
            </div>
          </div>
          <div class="row justify-center">
            <div class="text-body1 text-bold">
              Jackpot: <span v-text="gameState.jackpot / 1000 | formatSats"></span> sats
            </div>
          </div>
        </div>
        <div id="dreidel-container" class="q-mt-lg">
          Dreidel <span v-text="isAnimating ? 'is spinning' : 'is not spinning'"></span>
        </div>
        <div v-if="!isAnimating && lastGameState.state === 'playing'" class="q-mt-lg">
          <div class="row justify-center">
            <div class="text-h4">
              <span v-text="titles[gameState.dreidel_result]"></span>
            </div>
          </div>
          <div class="row justify-center">
            <div class="text-body1" v-text="dreidelResultDescription"></div>
          </div>
        </div>
        <div v-if="!isAnimating && gameState.payment_request" class="q-mt-lg">
          <div class="row justify-center q-mb-sm">
            <div class="text-body1">
              Player <span v-text="gameState.current_player + 1"></span> please pay the invoice
              <span v-if="gameState.state === 'initial_funding'">to join the game.</span>
              <span v-else-if="gameState.state === 'playing'">to spin the dreidel.</span>
              <span v-else-if="gameState.state === 'shtel'">to continue.</span>
            </div>
          </div>
          <a class="text-secondary" :href="'lightning:' + gameState.payment_request">
            <q-responsive :ratio="1" class="q-mx-xl q-mb-md">
              <qrcode
                :value="'lightning:' + gameState.payment_request.toUpperCase()"
                :options="{width: 800}"
                class="rounded-borders"
              ></qrcode>
            </q-responsive>
          </a>
          <div class="row q-mt-lg">
            <q-btn outline color="grey" @click="copyText(gameState.payment_request)"
              >Copy invoice</q-btn
            >
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        titles: [
          "Nisht - נישט",
          "Gantz - גאַנץ",
          "Halb - האַלב",
          "Shtel Arayn - שטעל אַרַײן",
        ],
        lastGameState: {
          "state": "loading",
        },
        isAnimating: false,
        gameState: {
          state: "loading",
        },
        timeout: null,
      }
    },
    mounted() {
      void this.reloadGameState();
    },
    computed: {
      dreidelResultDescription() {
        switch (this.gameState.dreidel_result) {
          case 0:
            return `Player ${this.lastGameState.current_player + 1} won nothing.`;
          case 1:
            return `Player ${this.lastGameState.current_player + 1} won the entire jackpot.`;
          case 2:
            return `Player ${this.lastGameState.current_player + 1} won half the jackpot.`;
          case 3:
            return `Player ${this.lastGameState.current_player + 1} lost - must pay again.`;
          default:
            return "";
        }
      },
    },
    filters: {
      formatSats(value) {
        return new Intl.NumberFormat('en-US', { maximumFractionDigits: 3}).format(value);
      }
    },
    methods: {
      resetTimeout(callback, timeoutMs) {
        if (this.timeout) {
          clearTimeout(this.timeout);
        }
        this.timeout = setTimeout(callback, timeoutMs);
      },
      async reloadGameState() {
        let responseData;
        try {
          // Not using LNbits.api.request because the loading bar is annoying.
          const response = await fetch('/dreidel/api/v1/dreidels/{{ dreidel.id }}/state');
          responseData = await response.json();
          if (!responseData.ok) {
            throw new Error("Bad response");
          }
        } catch (error) {
          LNbits.utils.notifyApiError(error);
          this.resetTimeout(this.reloadGameState, 5000);
          return;
        }
        if (responseData.updated_at === this.gameState.updated_at) {
          this.resetTimeout(this.reloadGameState, 2000);
          return;
        }
        if (this.gameState.state === "playing") {
          this.isAnimating = true;
          this.gameState.jackpot += responseData.paid_amount;
          await new Promise(resolve => setTimeout(resolve, responseData.rotate_seconds * 1000));
          this.isAnimating = false;
        }
        this.lastGameState = this.gameState;
        this.gameState = responseData;
        this.resetTimeout(this.reloadGameState, 2000);
      },
    },
    beforeDestroy() {
      if (this.timeout) {
        clearTimeout(this.timeout);
        this.timeout = null;
      }
    },
  })
</script>
{% endblock %}
