{% extends "public.html" %} {% block page %}
<link rel="stylesheet" href="/dreidel/static/css/dreidel.css" />
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-sm-8 col-md-5 col-lg-4">
    <q-card class="q-pa-lg">
      <q-card-section class="q-pa-none">
        <h5 class="text-subtitle1 text-center q-mt-none q-mb-sm">{{ dreidel.memo }}</h5>
        <div v-if="balances" class="q-mt-lg">
          <div class="row">
            <span class="text-subtitle1">Balance</span>
          </div>
          <div class="row">
            <div v-for="(balance, playerIndex) in balances" :key="playerIndex" class="col-6 col-md-4">
              <span class="text-body2" :class="{'text-bold': gameState.current_player === playerIndex}">
                Player <span v-text="playerIndex + 1"></span>: <span v-text="formatMSatsAsSats(balance)"></span> sats
              </span>
            </div>
          </div>
          <div class="row justify-center q-mt-md">
            <div class="text-body1 text-bold">
              <span v-if="gameState.state === 'funding'">
                Funding Round (accumulated <span v-text="formatMSatsAsSats(jackpot)"></span> sats)
              </span>
              <span v-else-if="gameState.state === 'ended'">
                Game Ended
              </span>
              <span v-else>
                Jackpot: <span v-text="formatMSatsAsSats(jackpot)"></span> sats
              </span>
            </div>
          </div>
        </div>
        <div class="stage">
          <div class="pyramid3d" :style="spinStyle">
              <div class="square side1"></div>
              <div class="square side2">נ</div>
              <div class="square side3">ה</div>
              <div class="square side4">ג</div>
              <div class="square side5">ש</div>
              <div class="square small side1"></div>
              <div class="rect side2"></div>
              <div class="rect side3"></div>
              <div class="rect side4"></div>
              <div class="rect side5"></div>
              <div class="triangle side2"></div>
              <div class="triangle side3"></div>
              <div class="triangle side4"></div>
              <div class="triangle side5"></div>
          </div>
        </div>
        <div v-if="!isAnimating && gameState.dreidel_result !== undefined" class="q-mt-lg">
          <div class="row justify-center">
            <div class="text-h4">
              <span v-text="titles[gameState.dreidel_result]"></span>
            </div>
          </div>
          <div class="row justify-center" v-if="gameState.last_player !== undefined">
            <div class="text-body1" v-text="dreidelResultDescription"></div>
          </div>
          <div class="row justify-center" v-if="lastGameState === 'funding' && gameState.state !== 'funding' && gameState.state !== 'ended'">
            <div class="text-body1">The empty jackpot was funded by all players.</div>
          </div>
        </div>
        <div v-if="!isAnimating && gameState.payment_request && gameState.state !== 'ended'" class="q-mt-md">
          <div class="row justify-center">
            <div class="text-body1">
              Player <span v-text="gameState.current_player + 1"></span> please pay the invoice
              <span v-if="gameState.state === 'funding'"> to subsidize the funding round.</span>
              <span v-else-if="gameState.state === 'playing'"> to spin the dreidel.</span>
              <span v-else-if="gameState.state === 'shtel'"> to continue.</span>
            </div>
          </div>
          <div class="row justify-center q-my-md">
            <div class="col-10 col-md-8 col-lg-6 col-xl-6">
              <a class="text-secondary" :href="'lightning:' + gameState.payment_request">
                <q-responsive :ratio="1" class="q-mb-md">
                  <qrcode
                  :value="'lightning:' + gameState.payment_request.toUpperCase()"
                  :options="{width: 800}"
                  class="rounded-borders"
                  ></qrcode>
                </q-responsive>
              </a>
            </div>
          </div>
          <div class="row justify-center">
            <q-btn class="q-mx-sm" outline color="grey" @click="copyText(gameState.payment_request)">
              Copy invoice
            </q-btn>
            <q-btn class="q-mx-sm" outline color="red" @click="endGame()">
              End game
            </q-btn>
          </div>
        </div>
        <div v-else-if="gameState.state === 'ended'" class="q-mt-md">
          <div class="row">
            <div class="text-subtitle1">
              Select a player to withdraw prizes from:
            </div>
          </div>
          <div class="row">
            <div v-for="(_playerWithdrawLink, playerIndex) in gameState.withdraw_links" :key="playerIndex" class="col-3">
              <q-btn flat no-caps padding="none" @click="withdrawPlayerIndex = playerIndex">
                Player <span v-text="playerIndex + 1"></span>
              </q-btn>
            </div>
          </div>
          <div v-if="withdrawLink">
            <div v-if="withdrawLink.status === 'too_small'" class="text-body1" >
              Prize is too small to be withdrawn.
            </div>
            <div v-else-if="withdrawLink.status === 'paid'" class="text-body1">
              Prize of player <span v-text="withdrawPlayerIndex + 1"></span> has been paid out.
            </div>
            <div v-else-if="withdrawLink.status === 'pending'">
              <div class="row justify-center q-my-md">
                <div class="col-10 col-md-8 col-lg-6 col-xl-6">
                  <a class="text-secondary" :href="'lightning:' + withdrawLink.lnurl">
                    <q-responsive :ratio="1" class="q-mb-md">
                      <qrcode
                      :value="'lightning:' + withdrawLink.lnurl.toUpperCase()"
                      :options="{width: 800}"
                      class="rounded-borders"
                      ></qrcode>
                    </q-responsive>
                  </a>
                </div>
              </div>
              <div class="row justify-center">
                <q-btn outline color="grey" @click="copyText(withdrawLink.lnurl)">
                  Copy LNURL
                </q-btn>
              </div>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  Vue.component(VueQrcode.name, VueQrcode)

  const initialAngle = 270

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data() {
      return {
        dreidelAngle: initialAngle,
        dreidelTimeoutSeconds: 0,
        titles: [
          "Nisht - נישט",
          "Gantz - גאַנץ",
          "Halb - האַלב",
          "Shtel Arayn - שטעל אַרַײן",
        ],
        lastGameState: "loading",
        isAnimating: false,
        gameState: {
          state: "loading",
        },
        reloadTimeout: null,
        withdrawPlayerIndex: null,
        balances: null,
        jackpot: null,
        balanceUpdateInterval: null,
      }
    },
    mounted() {
      void this.reloadGameState()
    },
    computed: {
      withdrawLink() {
        if (!this.gameState.withdraw_links || this.withdrawPlayerIndex === null) {
          return undefined
        }
        return this.gameState.withdraw_links[this.withdrawPlayerIndex]
      },
      dreidelResultDescription() {
        switch (this.gameState.dreidel_result) {
          case 0:
            return `Player ${this.gameState.last_player + 1} won nothing.`
          case 1:
            return `Player ${this.gameState.last_player + 1} won the entire jackpot.`
          case 2:
            return `Player ${this.gameState.last_player + 1} won half the jackpot.`
          case 3:
            if (this.gameState.state === "shtel") {
              return `Player ${this.gameState.last_player + 1} lost - must pay again.`
            } else {
              return `Player ${this.gameState.last_player + 1} lost - paid again from balance.`
            }
          default:
            return ""
        }
      },
      spinStyle() {
        return {
          transition: `transform ${this.dreidelTimeoutSeconds}s ease-out`,
          transform: `rotateX(80deg) rotateY(0deg) rotate(${this.dreidelAngle}deg)`,
        }
      },
    },
    methods: {
      onGameStatusUpdate() {
        if (!this.balances) {
          this.balances = this.gameState.balances
        }
        if (!this.jackpot) {
          this.jackpot = this.gameState.jackpot
        }
        if (this.balanceUpdateInterval) {
          clearInterval(this.balanceUpdateInterval)
          this.balanceUpdateInterval = null
        }
        let deltaBalances = this.gameState.balances.map((balance, index) => (balance - this.balances[index]) / 40)
        if (deltaBalances.every(delta => delta === 0)) {
          deltaBalances = undefined
        }
        const deltaJackpot = (this.gameState.jackpot - this.jackpot) / 40

        let exactBalances = this.balances.slice()
        let exactJackpot = this.jackpot

        let count = 0
        this.balanceUpdateInterval = setInterval(() => {
          if (count < 40) {
            if (deltaBalances) {
              for (let i = 0; i < this.balances.length; i++) {
                if (deltaBalances[i] === 0) {
                  continue
                }
                exactBalances[i] += deltaBalances[i]
                if (deltaBalances[i] > 0) {
                  this.balances[i] = Math.min(Math.ceil(exactBalances[i] / 1000) * 1000, this.gameState.balances[i])
                } else {
                  this.balances[i] = Math.max(Math.floor(exactBalances[i] / 1000) * 1000, this.gameState.balances[i])
                }
              }
            }
            if (deltaJackpot !== 0) {
              exactJackpot += deltaJackpot
              if (deltaJackpot > 0) {
                this.jackpot = Math.min(Math.ceil(exactJackpot / 1000) * 1000, this.gameState.jackpot)
              } else {
                this.jackpot = Math.max(Math.floor(exactJackpot / 1000) * 1000, this.gameState.jackpot)
              }
            }
            count += 1
          } else {
            clearInterval(this.balanceUpdateInterval)
            this.balanceUpdateInterval = null
            this.balances = this.gameState.balances
            this.jackpot = this.gameState.jackpot
          }
        }, 20)
      },
      formatMSatsAsSats(value) {
        return new Intl.NumberFormat('en-US', { maximumFractionDigits: 3}).format(value / 1000)
      },
      resetReloadTimeout(callback, timeoutMs) {
        if (this.reloadTimeout) {
          clearTimeout(this.reloadTimeout)
        }
        this.reloadTimeout = setTimeout(callback, timeoutMs)
      },
      async reloadGameState() {
        let responseData
        try {
          // Not using LNbits.api.request because the loading bar is annoying.
          const response = await fetch('{{ url_for("api_dreidel_game_state", dreidel_id=dreidel.id) }}')
          if (!response.ok) {
            throw new Error("Bad response status")
          }
          responseData = await response.json()
          if (!responseData.ok) {
            throw new Error("Bad response content")
          }
        } catch (error) {
          LNbits.utils.notifyApiError(error)
          this.resetReloadTimeout(this.reloadGameState, 5000)
          return
        }
        if (responseData.updated_at === this.gameState.updated_at) {
          this.resetReloadTimeout(this.reloadGameState, 2000)
          return
        }
        if (this.gameState.state === "playing" && responseData.state !== "ended") {
          this.isAnimating = true
          this.gameState.jackpot += responseData.paid_amount
          this.onGameStatusUpdate()
          this.dreidelTimeoutSeconds = responseData.spin_seconds
          this.dreidelAngle = initialAngle + ((4 - responseData.dreidel_result) * 90) + (Math.floor((this.dreidelAngle - initialAngle) / 360) + responseData.spin_seconds) * 360
          await new Promise(resolve => setTimeout(resolve, responseData.spin_seconds * 1000))
          if (responseData.temporary_state) {
            this.lastGameState = this.gameState.state
            this.gameState = responseData.temporary_state
            this.onGameStatusUpdate()
            await new Promise(resolve => setTimeout(resolve, 4000))
          }
          this.isAnimating = false
        } else if (this.gameState.state === "loading") {
          this.dreidelTimeoutSeconds = 0
          this.dreidelAngle = initialAngle + (4 - responseData.dreidel_result) * 90
        }
        this.lastGameState = this.gameState.state
        this.gameState = responseData
        this.onGameStatusUpdate()
        this.resetReloadTimeout(this.reloadGameState, 2000)
      },
      async endGame() {
        try {
          await LNbits.api.request("POST", '{{ url_for("api_dreidel_end", dreidel_id=dreidel.id) }}')
        } catch (error) {
          LNbits.utils.notifyApiError(error)
        }
        this.resetReloadTimeout(this.reloadGameState, 1)
      },
    },
    beforeDestroy() {
      if (this.reloadTimeout) {
        clearTimeout(this.reloadTimeout)
        this.reloadTimeout = null
      }
      if (this.balanceUpdateInterval) {
        clearInterval(this.balanceUpdateInterval)
        this.balanceUpdateInterval = null
      }
    },
  })
</script>
{% endblock %}
