{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn unelevated color="primary" @click="showDreidelDialog()"
          >New dreidel</q-btn
        >
      </q-card-section>
    </q-card>

    <q-card>
      <q-card-section>
        <div class="row items-center no-wrap q-mb-md">
          <div class="col">
            <h5 class="text-subtitle1 q-my-none">Dreidels</h5>
          </div>
          <div class="col-auto">
            <q-btn flat color="grey" @click="exportCSV">Export to CSV</q-btn>
          </div>
        </div>
        <q-table
          dense
          flat
          :data="dreidels"
          row-key="id"
          :columns="dreidelsTable.columns"
          :pagination.sync="dreidelsTable.pagination"
        >
          {% raw %}
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width></q-th>
              <q-th v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.label }}
              </q-th>
              <q-th auto-width></q-th>
            </q-tr>
          </template>
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn
                  unelevated
                  dense
                  size="xs"
                  icon="launch"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  type="a"
                  :href="props.row.displayUrl"
                  target="_blank"
                ></q-btn>
                <q-btn
                  @click="editDreidel(props.row.id)"
                  unelevated
                  dense
                  size="xs"
                  icon="edit"
                  :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                  class="q-ml-sm"
                ></q-btn>
              </q-td>
              <q-td v-for="col in props.cols" :key="col.name" :props="props">
                {{ col.value }}
              </q-td>
              <q-td auto-width>
                <q-btn
                  flat
                  dense
                  size="xs"
                  @click="deleteDreidel(props.row.id)"
                  icon="cancel"
                  color="pink"
                ></q-btn>
              </q-td>
            </q-tr>
          </template>
          {% endraw %}
        </q-table>
      </q-card-section>
    </q-card>
  </div>

  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <h6 class="text-subtitle1 q-my-none">
          {{SITE_TITLE}} dreidel extension
        </h6>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list> {% include "dreidel/_api_docs.html" %} </q-list>
      </q-card-section>
    </q-card>
  </div>

  <q-dialog v-model="formDialog.show" position="top">
    <q-card v-if="formDialog.show" class="q-pa-lg q-pt-xl lnbits__dialog-card">
      <q-form @submit="createoOrUpdateDreidel" class="q-gutter-md">
        <q-select
          filled
          dense
          emit-value
          v-model="formDialog.data.wallet"
          :options="g.user.walletOptions"
          label="Wallet *"
        >
        </q-select>

        <q-input
          filled
          dense
          v-model.trim="formDialog.data.memo"
          label="Title *"
          placeholder="LNbits dreidel"
        ></q-input>
        <q-input
          filled
          dense
          v-model.number="formDialog.data.bet_amount"
          type="number"
          label="Bet Amount (sat) *"
          hint="Amount for each bet in the game (there are multiple bets during the game)"
        ></q-input>
        <q-input
          filled
          dense
          v-model.number="formDialog.data.spin_seconds"
          type="number"
          label="Spin seconds *"
          hint="Time for the dreidel spin animation (minimum 2 seconds)"
        ></q-input>
        <q-input
          v-if="!formDialog.data.id"
          filled
          dense
          v-model.number="formDialog.data.players"
          type="number"
          label="Number of players *"
          hint="At least 2 players are required"
        ></q-input>
        <q-input
          filled
          dense
          v-model.number="formDialog.data.service_fee_percent"
          type="number"
          label="Service Fee Percentage *"
          hint="Percentage fee to be deducted from each player at prize withdrawal, in favor of the service provider."
        ></q-input>
        <q-input
          filled
          dense
          v-model.number="formDialog.data.spinning_price"
          type="number"
          label="Spinning Price (sat) *"
          hint="Amount to pay for spinning the dreidel - will be paid to the service provider (minimum 1 sat)"
        ></q-input>
        <div class="row q-mt-lg">
          <q-btn
            unelevated
            color="primary"
            :disable="!isValidForm"
            type="submit"
            :label="formDialog.data.id ? 'Update Dreidel' : 'Create dreidel'"
          ></q-btn>
          <q-btn v-close-popup flat color="grey" class="q-ml-auto"
            >Cancel</q-btn
          >
        </div>
      </q-form>
    </q-card>
  </q-dialog>
</div>
{% endblock %} {% block scripts %} {{ window_vars(user) }}
<script>
  const mapDreidel = function (obj) {
    obj.date = Quasar.utils.date.formatDate(
      new Date(obj.time * 1000),
      'YYYY-MM-DD HH:mm'
    )
    obj.displayUrl = ['/dreidel/', obj.id].join('')
    return obj
  }

  new Vue({
    el: '#vue',
    mixins: [windowMixin],
    data: function () {
      return {
        dreidels: [],
        dreidelsTable: {
          columns: [
            {name: 'id', align: 'left', label: 'ID', field: 'id'},
            {name: 'memo', align: 'left', label: 'Memo', field: 'memo'},
            {name: 'players', align: 'left', label: 'Players', field: 'players'},
            {
              name: 'date',
              align: 'left',
              label: 'Date',
              field: 'date',
              sortable: true
            }
          ],
          pagination: {
            rowsPerPage: 10
          }
        },
        formDialog: {
          show: false,
          data: null
        },
      }
    },
    computed: {
      isValidForm: function () {
        return (
          this.formDialog.data.bet_amount &&
          this.formDialog.data.bet_amount >= 1 &&
          this.formDialog.data.spin_seconds &&
          this.formDialog.data.spin_seconds >= 2 &&
          this.formDialog.data.service_fee_percent >= 0 &&
          this.formDialog.data.service_fee_percent <= 100 &&
          this.formDialog.data.spinning_price >= 1 &&
          (this.formDialog.data.id ||
            (this.formDialog.data.players &&
              this.formDialog.data.players >= 2)) &&
          this.formDialog.data.memo
        )
      }
    },
    methods: {
      emptyDreidel: function () {
        return {
          bet_amount: 10,
          spin_seconds: 10,
          service_fee_percent: 0,
          spinning_price: 1,
        }
      },
      getDreidels: function () {
        var self = this

        LNbits.api
          .request(
            'GET',
            '/dreidel/api/v1/dreidels?all_wallets=true',
            this.g.user.wallets[0].inkey
          )
          .then(function (response) {
            self.dreidels = response.data.map(mapDreidel)
          })
      },
      showDreidelDialog: function (dreidelData) {
        this.formDialog.show = true
        this.formDialog.data = dreidelData || this.emptyDreidel()
      },
      createoOrUpdateDreidel: async function () {
        try {
          const dreidelId = this.formDialog.data.id

          const dreidel = {
            memo: this.formDialog.data.memo,
            bet_amount: this.formDialog.data.bet_amount,
            spin_seconds: this.formDialog.data.spin_seconds,
            ...!dreidelId && {
              players: this.formDialog.data.players,
            },
            service_fee_percent: this.formDialog.data.service_fee_percent,
            spinning_price: this.formDialog.data.spinning_price,
          }

          let method = 'POST'
          let path = '/dreidel/api/v1/dreidels'
          const adminkey = _.findWhere(this.g.user.wallets, {
            id: this.formDialog.data.wallet
          }).adminkey

          if (dreidelId) {
            method = 'PATCH'
            path = `/dreidel/api/v1/dreidels/${dreidelId}`
          }

          const {data} = await LNbits.api.request(
            method,
            path,
            adminkey,
            dreidel
          )

          this.dreidels = this.dreidels.filter(p => p.id !== data.id)
          this.dreidels.unshift(mapDreidel(data))

          this.formDialog.show = false
          this.formDialog.data = this.emptyDreidel()
        } catch (error) {
          LNbits.utils.notifyApiError(error)
        }
      },
      editDreidel: function (dreidelId) {
        let dreidel = this.dreidels.find(p => p.id === dreidelId) || {}
        dreidel = {...this.emptyDreidel(), ...dreidel}
        this.showDreidelDialog(dreidel)
      },
      deleteDreidel: function (dreidelId) {
        var self = this
        var dreidel = _.findWhere(this.dreidels, {id: dreidelId})

        LNbits.utils
          .confirmDialog('Are you sure you want to delete this dreidel link?')
          .onOk(function () {
            LNbits.api
              .request(
                'DELETE',
                '/dreidel/api/v1/dreidels/' + dreidelId,
                _.findWhere(self.g.user.wallets, {id: dreidel.wallet}).adminkey
              )
              .then(function (response) {
                self.dreidels = _.reject(self.dreidels, function (obj) {
                  return obj.id == dreidelId
                })
              })
              .catch(function (error) {
                LNbits.utils.notifyApiError(error)
              })
          })
      },
      exportCSV: function () {
        LNbits.utils.exportCSV(this.dreidelsTable.columns, this.dreidels)
      }
    },
    created: function () {
      if (this.g.user.wallets.length) {
        this.getDreidels()
      }
    }
  })
</script>
{% endblock %}
